@import url('./fonts/rajdhani.css');
@import url('./fonts/vermin-vibes-v.css');
@import url('./fonts/share-tech-mono.css');

::selection {
	color: #1e0725;
	background-color: #ff88ff;
}

html {
	height: 100%;
	font-size: 1rem;
	background: #0f0213;
}

body {
	font-family: 'Rajdhani';
	background: #0f0213;
	color: #cfaee9;
}

a {
	color: #ee77ee !important;
	text-decoration: none;
	transition: color .15s ease-in-out, text-shadow .15s ease-in-out;
}

a:hover {
	color: #ff88ff !important;
	text-shadow: 1px 1px 6px #ff88ff88;
	text-decoration: none;
}

table {
	empty-cells: show;
	border: 1px solid #2f093b;
	width: 100%;
	font-size: 1.2em;
	margin-bottom: 0.3rem;
}

thead {
	background-color: #cfaee9;
	color: #1e0725;
	text-align: left;
	vertical-align: bottom;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

th,
td {
	padding: 0.5em 1em;
}

input[type="text"],
textarea {
	background-color: #0f0213 !important;
	color: #cfaee9 !important;
	border-color: #dd77dd !important;
	transition: 0.15s ease-in-out !important;
	border-radius: 2px !important;
	font-size: 1.1rem !important;
	padding-top: 7px !important;
}

input[type="text"]:hover,
textarea:hover {
	border-color: #ff88ff !important;
}

input[type="text"]:focus,
textarea:focus {
	background-color: #1e0725 !important;
	border-color: #ff88ff !important;
	color: #cfaee9 !important;
}

input[type="text"]::placeholder,
textarea::placeholder {
	color: #cfaee988 !important;
}

input[type="text"]:disabled,
textarea:disabled {
	background-color: #0f0213 !important;
	border-color: #663366 !important;
	color: #dd66dd !important;
}

textarea {
	line-height: 1.1rem !important;
	font-family: 'JetBrains Mono', monospace !important;
	font-size: 14.5px !important;
	font-weight: 300 !important;
}

code {
	padding: 3px 5px 2px;
	margin: 0 1px;
	background: #0f0213;
	color: #ff88ff88;
}

/* Prevent events in iframes */
/* iframe{
	pointer-events: none;
} */

/*
	ICONS
*/
.fa {
	font-size: 24px;
	margin-right: .5rem !important;
	vertical-align: middle;
}

/*
	SIDEBAR
*/
div.sidebar .nav-title {
	font-family: 'Vermin Vibes V';
	font-size: 0.92em;
	margin-left: 4px;
	color: #ff88ff;
	margin-top: -5px;
}

div.sidebar .nav-item {
	margin-top: 6px;
	display: flex;
	flex-direction: row;
}

div.sidebar .nav-item a {
	display: flex;
	flex-direction: row;
	font-size: 20px;
	padding-left: 10px;
	padding-right: 0;
	color: #ee77ee;
	padding-top: 6px;
	padding-bottom: 4px;
	transition: color .15s ease-in-out, text-shadow .15s ease-in-out;
	border-left: 4px solid #ee77ee;
}

div.sidebar .nav-item a:hover {
	color: #ff88ff;
	text-shadow: 1px 1px 6px #ff88ff88;
}

div.sidebar .nav-item h4 {
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 400;
	border-left: 8px solid #cfaee9;
	padding-left: 8px;
}

div.sidebar {
	margin: 0;
	padding: 0;
}

div.sidebar .nav-label {
	align-self: center;
	margin-top: -3px;
}

/*
	AUTOCOMPLETE SEARCH
*/
.search-suggestion {
	padding: 5px;
}

.search-suggestion-options {
	font-size: 0.9em;
	padding-top: 2px;
}

/*
	BOOTSTRAP Hacks
*/
@keyframes slideInLeft {
	from {
		opacity: 0;
		transform: translateX(-10px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.slide-in-left {
	animation: slideInLeft 0.2s ease-out forwards;
}

/* for small devices */
@media (max-width: 575.98px) {

	#jsmediaManagerButton,
	#jscategoryButton,
	#jsdescriptionButton {
		width: 100%;
		text-align: left;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1250px;
	}
}

.badge {
	vertical-align: middle;
}

.badge-primary {
	background-color: #ff88ff !important;
	color: #0f0213 !important;
	font-size: 1.1rem;
	font-weight: 400;
	padding-top: 4px;
	padding-bottom: 4px;
}

.border-top {
	border-color: #ff88ff !important;
	border-top-style: dotted !important;
}

.modal.show .modal-dialog {
	transform: translate(0, 170%);
}

.modal-content {
	background-color: #1f1223 !important;
	border: 1px solid #f8f !important;
}

.modal-footer {
	border-top: 1px solid #643274 !important;
	background-color: #150b18 !important;
}

.btn,
.btn-sm {
	color: #ff88ff !important;
}

.btn:active:focus {
	box-shadow: none !important;
}

.btn-primary {
	background-color: #63d49f !important;
	color: #1e0725 !important;
	border: 1px solid #63d49f !important;
}

.btn-primary:hover {
	background-color: #73e4af !important;
	border: 1px solid #73e4af !important;
}

.btn-secondary {
	background-color: #ee77ee !important;
	color: #1e0725 !important;
	border: 1px solid #ee77ee !important;
}

.btn-secondary:hover {
	background-color: #ff88ff !important;
	color: #1e0725 !important;
	border: 1px solid #ff88ff !important;
}

.btn-warning {
	background-color: transparent !important;
	color: #ce8518 !important;
}

.btn-warning:hover {
	border-color: #e6c15a !important;
	background-color: #e6c15a !important;
	color: #150b18 !important;
}

.btn-danger {
	background-color: transparent !important;
	color: #ce1818 !important;
}

.btn-danger:hover {
	border-color: #e65a5a !important;
	background-color: #e65a5a !important;
	color: #150b18 !important;
}

.custom-select {
	color: #ff88ff !important;
	border-color: #dd77dd !important;
	transition: 0.15s ease-in-out;
	border-radius: 2px !important;
	font-size: 1.1rem !important;
	background: #0f0213 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23dd77dd' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") right .75rem center/8px 10px no-repeat !important;
}

.custom-select:hover {
	border-color: #ff88ff !important;
	background: #0f0213 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23ff88ff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") right .75rem center/8px 10px no-repeat !important;
}

.custom-select:focus {
	box-shadow: none !important;
}

.col-form-label {
	display: block;
	text-transform: uppercase;
	font-size: 1.2rem;
}

.select2-container--bootstrap4 .select2-results>.select2-results__options {
	scrollbar-color: #73e4af transparent;
}

.select2-container--bootstrap4 .select2-selection {
	background-color: #0f0213;
	border-color: #ff88ffcc;
	border-radius: 2px;
}

.select2-container--bootstrap4.select2-container--focus .select2-selection {
	border-color: #ff88ffcc;
	box-shadow: none;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__placeholder {
	color: #cfaee9;
	font-weight: 600;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b {
	border-color: #ff88ffcc transparent transparent;
}

.select2-container--bootstrap4 .select2-dropdown .select2-results__option {
	background-color: #0f0213 !important;
}

.select2-container--bootstrap4 .select2-dropdown .select2-results__option:hover {
	background-color: #0f0213 !important;
}

.select2-container--bootstrap4 .select2-dropdown {
	background-color: #0f0213;
	border-top: 0;
	border-color: #ff88ffcc;
	border-radius: 0px 0px 4px 4px;
}

.select2-search--dropdown .select2-search__field {
	background-color: #0f0213;
	color: #cfaee9;
	padding-left: 6px;
	padding-right: 6px;
	border-color: #ff88ffcc;
	font-weight: 500;
}

.select2-search--dropdown .select2-search__field:focus {
	border-color: #ff88ffff;
}

.select2-results__option {
	padding-top: 0;
	padding-bottom: 0;
	display: flex;
}

.select2-results__option:nth-child(even) {
	background-color: #1f122399;
}

a>.search-suggestion {
	display: flex;
}

.search-suggestion {
	width: 100%;
}

.search-suggestion-item {
	width: 100%;
}

.select2-results__message {
	color: #73e4af !important;
}

.select2-container--bootstrap4 .select2-results__option {
	padding: 2px 8px !important;
}

.select2-container--bootstrap4 .select2-results__option:nth-child(even) {
	background-color: #0f0213 !important;
}

.select2-container--bootstrap4 .select2-results__option--highlighted,
.select2-container--bootstrap4 .select2-results__option--highlighted.select2-results__option[aria-selected="true"] {
	background-color: #0f0213 !important;
	color: #ff88ff !important;
	transition: .15s ease-out !important;
}

.select2-container--bootstrap4 .select2-results__option--highlighted:nth-child(2n),
.select2-container--bootstrap4 .select2-results__option--highlighted.select2-results__option:nth-child(2n) {
	background-color: #0f0213 !important;
}

.select2-selection__clear {
	background-color: #ff88ff !important;
	color: #0f0213 !important;
	padding-top: 2px !important;
	padding-left: 3px !important;
	border-radius: 2px !important;
	width: 15px !important;
	height: 15px !important;
	content: "X";
}

.search-suggestion-options {
	display: flex;
	margin-top: -4px;
	font-size: 1em;
	font-weight: 600;
}

.select2-results__option>a {
	display: flex;
}

.search-suggestion .badge-light {
	background-color: #ff88ff;
	font-size: 0.9rem;
	font-weight: 500;
	float: right;
	margin-top: 12px;
	margin-left: 8px;
}

.list-group-sortable {
	cursor: pointer;
}

.nav-tabs {
	line-height: 1.15;
	border-bottom: 1px solid #ff88ff;
}

.nav-tabs .nav-link {
	border: none !important;
	transition: color .15s ease-in-out, background-color .15s ease-in-out;
}

.nav-tabs .nav-link:hover {
	border: none !important;
}

.nav-tabs .nav-link.active {
	background-color: #ff88ff;
	border: none !important;
}

.nav-tabs .nav-link.active {
	color: #0f0213 !important;
	border: none !important;
}

.custom-file-label {
	background-color: #0f0213 !important;
	color: #cfaee9 !important;
	border-color: #dd77dd !important;
	transition: 0.15s ease-in-out !important;
	border-radius: 2px !important;
	font-size: 1.1rem !important;
	max-width: 100% !important;
}

.custom-file-label::after {
	background-color: #ff88ff !important;
	color: #0f0213 !important;
	border-color: #ff88ff !important;
	transition: 0.15s ease-in-out !important;
	border-radius: 0px 1px 1px 0px !important;
	font-size: 1.1rem !important;
	padding-top: 7px !important;
}

img.img-thumbnail {
	background-color: #ff88ff88 !important;
	border: 1px solid #ff88ff !important;
	border-radius: 4px !important;
	padding: 2px !important;
}

.border-bottom {
	border-bottom: 1px solid #cfaee9 !important;
}

.text-muted {
	color: #cfaee988 !important;
}

.table {
	color: #cfaee9 !important;
}

/* 
input[type="text"]:hover,
textarea:hover {
	border-color: #ff88ff !important;
}

input[type="text"]:focus,
textarea:focus {
	background-color: #1e0725 !important;
	border-color: #ff88ff !important;
	color: #cfaee9 !important;
}

input[type="text"]:disabled,
textarea:disabled {
	background-color: #0f0213 !important;
	border-color: #663366 !important;
	color: #dd66dd !important;
} */

/*
	LOGIN
*/
body.login {
	background: rgb(255, 255, 255);
	background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(250, 250, 250, 1) 53%);
	height: 100%;
}

/*
	DASHBOARD
*/
#dashboard ul.list-group.list-group-striped li {
	border: none;
	word-break: break-word;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#dashboard ul.list-group.list-group-striped li:nth-of-type(even) {
	background: #f1f1f1;
}

#dashboard div.quick-links-icons {
	font-size: 3em;
	width: 100%;
}

#dashboard a.quick-links {
	color: #ff88ff;
}

#dashboard a.quick-links:hover {
	text-decoration: none;
	color: #4586d4;
}

#hello-message {
	font-family: 'Vermin Vibes V';
	font-size: 20px;
	padding: 10px 0;
	margin-top: 6px;
	margin-bottom: 20px;
}

#hello-message .fa {
	font-size: 21px;
}

#hello-message span.oi {
	top: 3px;
}

div.container {
	padding-bottom: 1.5rem;
}

#jsclippyContainer .select2-container--bootstrap4 .select2-results>.select2-results__options {
	scrollbar-color: #73e4af transparent;
}

#jsclippyContainer .select2-container--bootstrap4 .select2-selection {
	background-color: #0f0213;
	border-color: #ff88ffcc;
	border-radius: 4px 4px 0px 0px;
	border-bottom: none;
}

#jsclippyContainer .select2-container--bootstrap4.select2-container--focus .select2-selection {
	border-color: #ff88ffcc;
	box-shadow: none;
}

#jsclippyContainer .select2-container--bootstrap4 .select2-selection--single .select2-selection__placeholder {
	color: #cfaee9;
	font-weight: 600;
}

#jsclippyContainer .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b {
	border-color: #ff88ffcc transparent transparent;
}

#jsclippyContainer .select2-container--bootstrap4 .select2-dropdown {
	background-color: #0f0213;
	border-top: 0;
	border-color: #ff88ffcc;
	border-radius: 0px 0px 4px 4px;
}

#jsclippyContainer .select2-search--dropdown .select2-search__field {
	background-color: #0f0213;
	color: #cfaee9;
	margin-top: -4px;
	padding-left: 6px;
	padding-right: 6px;
	border-color: #ff88ffcc;
	font-weight: 500;
}

#jsclippyContainer .select2-search--dropdown .select2-search__field:focus {
	border-color: #ff88ffff;
}

#jsclippyContainer .select2-results__option {
	padding-top: 0;
	padding-bottom: 0;
	display: flex;
}

#jsclippyContainer .select2-results__option:nth-child(even) {
	background-color: #1f122399;
}

#jsclippyContainer a>.search-suggestion {
	display: flex;
}

#jsclippyContainer .search-suggestion {
	width: 100%;
}

#jsclippyContainer .search-suggestion-item {
	width: 100%;
}

#jsclippyContainer .search-suggestion-options {
	display: flex;
	margin-top: -4px;
	font-size: 1em;
	font-weight: 600;
}

#jsclippyContainer .select2-results__option>a {
	display: flex;
}

#jsclippyContainer .search-suggestion .badge-light {
	background-color: #ff88ff;
	font-size: 0.9rem;
	font-weight: 500;
	float: right;
	margin-top: 12px;
	margin-left: 8px;
}

.simple-stats-plugin .my-4 {
	margin-bottom: -2.3rem !important;
}

.simple-stats-plugin .pt-4 {
	padding-top: 0.4rem !important;
}

.simple-stats-plugin .my-5 {
	margin-bottom: -2rem !important;
}

.simple-stats-plugin .my-4::before {
	display: block;
	content: "Visitors";
	font-size: 1.5rem !important;
	font-weight: 500;
	margin-top: 2px;
}

.ct-grid {
	stroke: #ff88ff33 !important;
}

.ct-series-a .ct-line {
	stroke: #ff88ff !important;
	stroke-width: 2px;
}

.ct-series-a .ct-point {
	stroke: #ff88ff !important;
	stroke-width: 8px;
}

.ct-series-b .ct-line {
	stroke: #73e4af !important;
	stroke-width: 2px;
}

.ct-series-b .ct-point {
	stroke: #73e4af !important;
	stroke-width: 8px;
}

.ct-label {
	color: #cfaee9 !important;
	font-size: 1rem !important;
}

p.legends {
	font-size: 1rem !important;
}

p.legends.visits-today {
	color: #ff88ff !important;
}

p.legends.unique-today {
	color: #73e4af !important;
}

.simple-stats-plugin-content-stats h4.pb-2 {
	margin-top: -13px;
	padding-bottom: 0 !important;
}

.simple-stats-plugin-content-stats #nav-stats-chart {
	margin-top: 1.35rem;
}

.simple-stats-plugin-content-stats .ct-series.ct-series-a .ct-bar {
	stroke: #ff88ff !important;
}

.simple-stats-plugin-content-stats .ct-series.ct-series-b .ct-bar {
	stroke: #73e4af !important;
}

.simple-stats-plugin-content-stats .ct-series.ct-series-c .ct-bar {
	stroke: #dfff00 !important;
}

.simple-stats-plugin-content-stats .ct-series.ct-series-d .ct-bar {
	stroke: #00ff64 !important;
}

.simple-stats-plugin-content-stats .ct-series.ct-series-e .ct-bar {
	stroke: #1cb5ff !important;
}

.simple-stats-plugin-content-stats .ct-series.ct-series-f .ct-bar {
	stroke: #00ff00 !important;
}

.simple-stats-plugin-content-stats #nav-tabContent.my-2 {
	margin-top: 0 !important;
}

#nav-stats-table .table {
	border: none;
}

#nav-stats-table .table.mt-3 {
	margin-top: 0 !important;
}

#nav-stats-table tr:nth-of-type(even) {
	background-color: #1f122399 !important;
}

.dashboard-notifications {
	border: 1px solid #ff88ff;
	border-radius: 4px;
	padding: 0;
	height: 80%;
}

.dashboard-notifications h4 {
	margin-top: 12px !important;
}

.dashboard-notifications .list-group-item {
	background-color: #0f0213 !important;
}

.dashboard-notifications .list-group-item:nth-child(1) {
	background-color: #ff88ff !important;
	color: #0f0213;
}

.dashboard-notifications .list-group-striped .list-group-item:nth-of-type(even) {
	background-color: #1f122399 !important;
}

.dashboard-notifications .log-action-phrase {
	color: #73e4af;
}

/*
	TABLE PAGES REUSABLE
*/
.toolbar {
	background-color: #0f0213 !important;
	border: 1px solid #ff88ff !important;
	border-radius: 6px 6px 0px 0px;
	padding: 8px 8px 10px 8px;
}

.toolbar-primary-button {
	text-transform: uppercase;
	transition: ease-in-out .15s;
	font-size: 1.15rem;
	color: #73e4af !important;
}

.toolbar-primary-button:hover {
	color: #73e4af !important;
	text-shadow: 0px 0px 6px #73e4af99 !important;
}

.toolbar-primary-button i {
	margin-right: 2px !important;
	font-size: 20px;
}

.toolbar-primary-button .label {
	display: inline-block !important;
	vertical-align: middle !important;
	margin-left: 4px !important;
}

/*
  CONTENT PAGE
*/
.content-page {
	margin-top: -18px;
	padding-bottom: 24px;
}

.content-page table {
	color: #150b18;
	border-color: #ff88ff;
	border-radius: 0px 0px 6px 6px;
	border-collapse: separate;
	border-spacing: 0;
}

.content-page table thead {
	background-color: #ff88ff;
}

.content-page table thead,
.content-page table th {
	color: #150b18 !important;
	border-color: #ff88ff;
	text-align: center;
}

.content-page table td,
th {
	vertical-align: middle;
	padding: 0 !important;
	border-top: none;
}

.content-page tbody tr td {
	padding: 8px !important;
}

.content-page tbody tr td p {
	color: #73e4afcc !important;
}

.content-page .no-entries {
	color: #ff88ff88 !important;
	font-size: 1.2rem
}

.content-page .page-url-container {
	min-width: 42%;
}

.content-page tbody tr td.contentTools {
	min-width: 17.5% !important;
}

.content-page tbody tr td.contentTools a {
	margin-right: 7px;
	display: inline;
}

.content-page tbody tr td .view-button {
	color: #73e4af !important;
}

.content-page tbody tr td .view-button:hover {
	text-shadow: 1px 1px 6px #73e4af !important;
}

.content-page tbody tr td .edit-button {}

.content-page tbody tr td .delete-button {
	color: #ce1818 !important;
}

.content-page tbody tr td .delete-button:hover {
	text-shadow: 1px 1px 6px #ce1818 !important;
}

.content-page tbody tr:nth-of-type(even) {
	background-color: #1f122399;
}

.content-page td a {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	text-wrap: nowrap;
	max-width: 24.5rem;
}

/*
  CATEGORIES PAGE
*/
.categories-page {}

.categories-page .toolbar {
	background-color: #0f0213 !important;
	border: 1px solid #ff88ff !important;
	border-radius: 6px 6px 0px 0px;
	padding: 8px 8px 10px 8px;
}

.categories-page table {
	color: #150b18;
	border-color: #ff88ff;
	border-radius: 0px 0px 6px 6px;
	border-collapse: separate;
	border-spacing: 0;
	margin-top: 0 !important;
}

.categories-page table thead {
	background-color: #ff88ff;
}

.categories-page table thead,
.categories-page table th {
	color: #150b18 !important;
	border-color: #ff88ff;
	text-align: center;
}

.categories-page table td,
th {
	vertical-align: middle;
	padding: 0 !important;
	border-top: none;
}

.categories-page tbody tr td {
	padding: 8px !important;
}

.categories-page tbody tr td p {
	color: #73e4af !important;
}

.categories-page tbody tr:nth-of-type(even) {
	background-color: #1f122399;
}

/*
 USERS PAGE
*/
.users-page {}

.users-page table {
	color: #150b18;
	border-color: #ff88ff;
	border-radius: 0px 0px 6px 6px;
	border-collapse: separate;
	border-spacing: 0;
	margin-top: 0 !important;
}

.users-page table thead {
	background-color: #ff88ff;
}

.users-page table thead,
.users-page table th {
	color: #150b18 !important;
	border-color: #ff88ff;
	text-align: center;
}

.users-page table td,
th {
	vertical-align: middle;
	padding: 0 !important;
	border-top: none;
}

.users-page tbody tr td.user-with-picture {
	padding: 8px !important;
}

img.profilePicture {
	width: 30px;
	height: 30px;
	border-radius: 30px;
	border: 1px solid #ff88ff;
}

.users-page tbody tr td.user-with-picture img {
	margin-right: 16px !important;
}

.users-page tbody tr td:not(.user-with-picture) {
	padding: 8px !important;
	color: #ff88ff;
	text-align: center;
}

.users-page tbody tr td p {
	color: #73e4af !important;
}

.users-page tbody tr:nth-of-type(even) {
	background-color: #1f122399;
}

/*
  SETTINGS PAGE
*/
.settings-page .col-sm-10 {
	max-width: 100% !important;
}

.settings-page .col-sm-2 {
	max-width: 100% !important;
}

.settings-page .col-form-label {
	color: #ff88ff !important;
	font-weight: 500 !important;
}

.settings-page .form-group {
	display: block;
	margin-bottom: 1rem !important;
}

.settings-page #jsbuttonRemoveLogo {
	display: inline !important;
	text-transform: uppercase;
}

/*
	ALERT
*/
#alert {
	display: none;
	position: fixed;
	text-align: center;
	border-radius: 0px;
	border: 0;
	z-index: 1000;
	bottom: 0;
	right: 0;
	margin: 0;
}

.alert {
	padding: 4px 6px !important;
	font-weight: 500;
}

.alert-primary {
	background-color: #cfaee933;
	color: #cfaee9;
	border-color: #cfaee9;
}

.alert-success {
	background-color: #3b7a5d;
	border-left: 6px solid #73e4af !important;
	color: #73e4af;
}

.alert-danger {
	background-color: #d44545;
	border-left: 6px solid #ff9c9c !important;
	color: #ffffff;
}

/*
	PLUGINS PAGE
*/
.plugins-page table td {
	border: none !important;
}

.plugins-page table {
	border-collapse: separate !important;
	border: 1px solid #ff88ff !important;
	border-radius: 4px !important;
	border-spacing: 0;
}

.plugins-page table thead,
.plugins-page table th {
	padding-top: 2px !important;
	color: #150b18 !important;
	background-color: #ff88ff;
	border-color: #ff88ff;
	text-align: center;
}

.plugins-page table td,
.plugins-page table th {
	vertical-align: middle;
	border-top: none;
}

.plugins-page tbody tr td {
	padding: 8px !important;
}

.plugins-page tbody tr td p {
	color: #73e4af !important;
}

.plugins-page tbody tr:nth-of-type(even) {
	background-color: #1f122399;
}

/*
	THEMES PAGE
*/
.themes-page table td {
	border: none !important;
}

.themes-page table {
	border-collapse: separate !important;
	border: 1px solid #ff88ff !important;
	border-radius: 4px !important;
	border-spacing: 0;
}

.themes-page table thead,
.themes-page table th {
	padding-top: 2px !important;
	color: #150b18 !important;
	background-color: #ff88ff;
	border-color: #ff88ff;
	text-align: center;
}

.themes-page table td,
.themes-page table th {
	vertical-align: middle;
	border-top: none;
}

.themes-page tbody tr td {
	padding: 8px !important;
}

.themes-page tbody tr td p {
	color: #73e4af !important;
}

.themes-page tbody tr:nth-of-type(even) {
	background-color: #1f122399;
}

/*
	ABOUT PAGE
*/
.about-page table td {
	border: none !important;
}

.about-page table {
	border-collapse: separate !important;
	border: 1px solid #ff88ff !important;
	border-radius: 4px !important;
	border-spacing: 0;
}

.about-page table thead,
.about-page table th {
	padding-top: 2px !important;
	color: #150b18 !important;
	background-color: #ff88ff;
	border-color: #ff88ff;
	text-align: center;
}

.about-page table td,
.about-page table th {
	vertical-align: middle;
	border-top: none;
}

.about-page tbody tr td {
	padding: 8px !important;
}

.about-page tbody tr td p {
	color: #73e4af !important;
}

.about-page tbody tr:nth-of-type(even) {
	background-color: #1f122399;
}

/*
	PLUGINS
*/
.plugin-form label {
	display: block;
	margin-top: 1rem !important;
}

.plugin-form input[type="text"],
.plugin-form textarea,
.plugin-form select {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.plugin-form textarea {
	min-height: 120px;
}

.plugin-form span.tip {
	display: block;
	font-size: 80%;
	font-weight: 400;
	margin-top: .25rem;
}

/*
	Manage > New Content
*/
#jseditor {
	background: #fff;
	padding: 10px 5% !important;
	font-size: 16px;
	line-height: 1.5em;
	border: 1px solid #ced4da;
}

#jseditorSidebar {
	display: none;
	height: calc(100% - 45px);
	width: 50%;
	max-width: 350px;
	position: absolute;
	z-index: 50;
	top: 45px;
	right: 15px;
	background-color: #fff;
	overflow-x: hidden;
	transition: 0.5s;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

@media (max-width: 575.98px) {
	#jseditorSidebar {
		width: 100%;
		max-width: 100%;
		right: 0;
	}

	#jseditorToolbarRight button {
		font-size: 0px !important;
	}

	#jseditorToolbarRight button span {
		font-size: 16px !important;
	}

	.contentTools .btn {
		font-size: 0px !important;
		margin-right: 5px;
	}

	.contentTools .btn span {
		font-size: 16px !important;
	}
}

#jseditorSidebar nav {
	background: #f3f3f3;
}

#jseditorSidebar nav a {
	color: #000;
}

#jseditorSidebar .nav-tabs .nav-link {
	border: none;
}

#jseditorSidebar .nav-link.active {
	background: none;
	border: none;
	border-bottom: 3px solid #ccc;
}

#jsshadow {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(72, 72, 72, 0.7);
	z-index: 10;
	display: none;
}

/* Switch button */
.switch-button {
	font-size: 0.9em;
	text-transform: uppercase;
	cursor: pointer;
}

.switch-icon-publish {
	color: #1cb11c;
}

.tail-writer {
	border-color: #ff88ff !important;
	color: #cfaee9 !important;
	min-height: 75% !important;
	border-bottom-width: 0px !important;
	border-radius: 4px 4px 10px 10px !important;
}

.tail-writer {
	font-size: 14px !important;
}

.tail-writer table {
	border-collapse: separate !important;
	border-spacing: 0 !important;
	border-radius: 4px !important;
	border-color: #aa88c4 !important;
}

.tail-writer thead {
	line-height: 1rem !important;
	border-radius: 4px 4px 0px 0px !important;
}

.tail-writer th {
	border-radius: 4px 4px 0px 0px !important;
}

.tail-writer tr:nth-child(even) {
	background-color: #1e0725 !important;
}

.tail-writer th,
td {
	padding: 0.5em 1em !important;
}

.tail-writer p {
	font-size: 18px !important;
	text-align: justify !important;
}

.tail-writer h1,
.tail-writer h2,
.tail-writer h3,
.tail-writer h4,
.tail-writer h5,
.tail-writer h6 {
	border-left: 4px solid #cfaee9 !important;
	padding-left: 8px;
	padding-bottom: 2px;
	padding-top: 4px;
}

.tail-writer ul,
ol {
	font-size: 1.1rem;
	margin: 0 0.25rem;
	padding: 0;
}

.tail-writer ul {
	list-style: none;
}

.tail-writer ul li::before {
	display: inline-block;
	content: '⮞';
	color: var(--list-bullet-foreground);
	vertical-align: middle;
	margin-right: 6px;
}

.tail-writer ol {
	list-style: upper-roman;
	padding-left: 1.25rem;
}

.tail-writer ol>li>ol {
	list-style: decimal !important;
	padding-left: 1.25rem;
}

.tail-writer ol>li>ol>li>ol {
	list-style: lower-latin !important;
	padding-left: 1.25rem;
}

.tail-writer ol>li>ol>li>ol>li>ol {
	list-style: lower-greek !important;
	padding-left: 1.25rem;
}

.tail-writer ol>li>ol>li>ol>li>ol>li>ol {
	list-style: armenian !important;
	padding-left: 1.25rem;
}

.tail-writer ol li::marker {
	color: #ff88ff99 !important;
}

.tail-writer ul:has(li.task-list-item) {
	list-style: none;
	margin-left: 2px;
}

.tail-writer li.task-list-item > span {
	padding-left: 1px !important;
}

.tail-writer-preview li.task-list-item input[type="checkbox"] {
	display: none !important;
	padding: 0;
	margin: 0;
}

.tail-writer-preview li.task-list-item input[type="checkbox"]::before,
.tail-writer-preview li.task-list-item input[type="checkbox"]::after {
	display: none !important;
}

.tail-writer-preview li.task-list-item::before {
	color: #ff88ff99;
	content: '☐' !important;
}

.tail-writer-preview li.task-list-item-complete::before {
	content: '☒' !important;
}

.tail-writer-preview li.task-list-item-complete span {
	text-decoration: line-through;
	color: #cfaee999;
}

.tail-writer-preview {
	border-top: 1px solid #cfaee988 !important;
	background-color: #0f0213 !important;
}

.tail-writer textarea {
	border-left: none !important;
	border-right: none !important;
}

.tail-writer .tail-writer-tooltip {
	color: #ff88ff !important;
	font-size: 14px !important;
	line-height: 1.25;
	background-color: #0f0213 !important;
	border: 1px solid #ff88ff !important;
}

.tail-writer .tail-writer-tooltip.tooltip-position-top:after {
	display: none !important;
}

.tail-writer .tail-writer-tooltip.tooltip-position-left:after {
	display: none !important;
}

.tail-writer .tail-writer-tooltip.tooltip-position-right:after {
	display: none !important;
}

.tail-writer .tail-writer-tooltip.tooltip-position-bottom:after {
	display: none !important;
}

.tail-writer-toolbar {
	background: #150b18 !important;
}

.tail-writer-toolbar .toolbar-action {
	background-color: transparent !important;
	box-shadow: none !important;
	border: none !important;
	filter: brightness(0) saturate(100%) invert(86%) sepia(6%) saturate(1655%) hue-rotate(223deg) brightness(99%) contrast(97%);
}

.tail-writer-toolbar .toolbar-action:hover {
	background-color: transparent !important;
	filter: brightness(0) saturate(100%) invert(77%) sepia(15%) saturate(5480%) hue-rotate(244deg) brightness(104%) contrast(103%);
}

.tail-writer .tail-writer-toolbar .toolbar-separator {
	border-color: #cfaee955 !important;
}

.tail-writer .tail-writer-dropdown {
	border-color: #ff88ff !important;
	background-color: #0f0213 !important;
	box-shadow: none !important;
}

.tail-writer .tail-writer-dropdown.show {
	opacity: 1 !important;
}

.tail-writer .tail-writer-dropdown .dropdown-form ul li:hover {
	background-color: #150b18 !important;
	color: #ff88ff !important;
}

.tail-writer .tail-writer-dropdown::after {
	border-width: 0 7.5px 8px 7.5px;
	border-color: transparent transparent #0f0213 transparent !important;
}

.tail-writer .tail-writer-dropdown::before {
	border-color: transparent transparent #ff88ff transparent !important;
}

.tail-writer .tail-writer-dialog {
	border-color: #ff88ff !important;
	border-radius: 4px !important;
	box-shadow: 0 0 10px 5px #ff88ff22 !important;
	background-color: #0f0213 !important;
}

.tail-writer-statusbar {
	font-size: 16px !important;
	background-color: #ff88ff !important;
	color: #0f0213 !important;
	border: none !important;
	padding: 4px !important;
	border-radius: 0px 0px 5px 5px !important;
}